.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .title {
  z-index: 2;
  font-size: 8rem;
  margin-top: 4rem;
  letter-spacing: .4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header img {
  width: 100vw;
  height: 68vh;
  top: -4rem;
  position: relative;
  object-fit: cover;
}