.post {
  width: 38.5rem;
  margin: 0 2.5rem 4rem 2.5rem;
}

.post img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-radius: 0.7rem;
}

.post-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.post-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  line-height: 2rem;
  color: #be9656;
  font-family: "Varela Round", serif;
  font-size: 1.8rem;
}

.post-title {
  font-family: 'Josefin Sans', serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
}

.post-date {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.7rem;
  margin-top: 1rem;
  color: #999;
}

.post-desc {
  font-family: 'Varela Round', serif;
  font-size: 1.4rem;
  color: #555;
  line-height: 2.4rem;
  margin-top: 1.3rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}