.navbar {
  top: 0;
  width: 100%;
  z-index: 100;
  height: 5rem;
  display: flex;
  position: sticky;
  color: #555555;
  background: #fff;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.navbar .social-links {
  flex: 3;
  display: flex;
  font-size: 2.2rem;
  align-items: center;
  justify-content: center;
}

.link-icons {
  margin-right: 1rem;
}

.navbar .nav-links {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-links .nav-link {
  font-weight: 300;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.navbar .nav-right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 1.8rem;
}

.navbar .user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .search {
  font-size: 2rem;
  margin-left: 1.5rem;
}
