.login {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../assets/login-background.jpg");
  background-size: contain;
}

.loginTitle {
  font-size: 5.5rem;
}

.loginForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.loginForm > label {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.loginInput {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #fff;
}

.loginButton {
  margin-top: 2rem;
  cursor: pointer;
  background-color: lightcoral;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.loginRegisterButton {
  position: absolute;
  top: 6.5rem;
  right: 2rem;
  background-color: teal;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.6rem;
}
